.file-picker{
	opacity: 0;
	overflow: hidden;
  position: absolute;
  cursor: pointer;
  width: 120px;
  height: 40px;
  
  /* Do NOT enable the following. the control needs to stay on top */
	/* z-index: -1; */
}