<nav>
  {{link-to "Borrowers" "index" class="brand"}}

  <input class="show" id="bmenu" type="checkbox">
  <label class="burger toggle pseudo button" for="menu">menu</label>

  <div class="menu">
    {{link-to "Dashboard" "index" class="paeudo button icon-gauge"}}
    {{link-to "Friends" "friends" class="paeudo button icon-gauge"}}
    {{link-to "New Friend" "friends.new" class="paeudo button icon-gauge"}}
  </div>
</nav>
