<section id="main">
  {{yield}}

  <input type="checkbox" id="toggle-all">
</section>

<footer id="footer">
    <span id="todo-count">
        <strong>2</strong> todos left
    </span>
  <ul id="filters">
    <li>
      {{#link-to "todos.index" activeClass="selected"}}All{{/link-to}}
    </li>
    <li>
      {{#link-to "todos.incomplete"}}Active{{/link-to}}
    </li>
    <li>
      {{#link-to "todos.complete"}}Completed{{/link-to}}
    </li>
  </ul>

  <button id="clear-completed">
    <span id="todo-count">
      <strong>{{remaining}}</strong> {{inflection}} left
    </span>
  </button>
</footer>